*{
    margin: none;
}
header {
    text-align: center;
    margin-bottom: 2em;
}

.container {
    width: 75%;
    max-width:1200px;
    margin:  0 auto;
}

.searchbar {
    border: 2px darkgrey solid;
    border-radius: 5px;
    margin: 0 auto;
    width: 30em;
    height: 3em;
}

input {
    border: none;
    outline: none;
    padding: .5em;
    height: 100%;
    width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}



/*------Grid-----*/

.Photo {
    width: 75%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-gap: 20px;
}



